.SettingMenu {
    list-style: none;

    a {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        p {
            margin: 0;
            font-size: 24px;
            background: linear-gradient(45deg, #0388ff, #48dcb6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            font-weight: 800;
            line-height: 1;
        }
    }
}