.OverlayChat {
    position: fixed;
    z-index: 998;
    overflow: hidden;
    border-radius: 10px;
    cursor: move;
    left: 0;
    bottom: 0;

    .Chat {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        padding: 4px 10px;
        margin-bottom: 6px;

        p {
            display: flex;
            flex-direction: row;
            font-size: 14px;
            text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;

            &.Username {
                font-weight: 700;
                white-space: wrap;
            }

            &.Message {
                white-space: wrap;
                font-weight: 500;
                color: #f6f9ff;
                margin-left: 10px;
                flex: 1;
                overflow: hidden;
                text-wrap: wrap;
            }
        }
    }
}